@model ContactViewModel
@{ 
    Model.Title = "Contact Us";
}

<div class="jumbotron text-center">
    <h3>Contact Information</h3>
    <p class="lead">Reach the Creative Realtors at any of the following addresses.</p>
</div>

<article title="Martha's information">
    <div id="marthaInfo" class="container text-center">
        <h5>Martha Ehlert:</h5>
        <br />
        <p><span class="fa fa-phone"></span> <abbr title="Phone Number">PN:</abbr> <a href="tel:6168220721">@Model.MarthaPhone ~</a></p>
        <p><span class="fa fa-envelope"></span> <abbr title="Email Address">EM:</abbr> <a href="mailto:marthaehlert@creativerealtors.net">@Model.MarthaEmail ~</a></p>
    </div>
    <br />
</article>

<article title="Joyce's information">
    <div id="joyceInfo" class="container text-center">
        <h5>Joyce Austin:</h5>
        <br />
        <p><span class="fa fa-phone"></span> <abbr title="Phone Number">PN:</abbr> <a href="tel:6164608020">@Model.JoycePhone ~</a></p>
        <p><span class="fa fa-envelope"></span> <abbr title="Email Address">EM:</abbr> <a href="mailto:joyceaustin@creativerealtors.net">@Model.JoyceEmail ~</a></p>
    </div>
</article>