@model ContactViewModel
@{
    Model.Title = "Social Media";
}

<div class="jumbotron text-center">
    <h3>We all have social media profiles.</h3>
    <p class="lead">We encourage visitors to take a look</p>
    
    <div class="align-content-center btn-group">
        @*Buttons that lead to the official page for the organization*@
        <a class="btn btn-primary" href="https://www.facebook.com/thecreativerealtors"><span class="fa fa-facebook"></span> Facebook</a>
        <a class="btn btn-primary" href="https://www.twitter.com/thecreativerealtors"><span class="fa fa-twitter"></span> Twitter</a>
    </div>
</div>

<div class="container text-center">
    <br/>
    
    <h5>Joyce Austin</h5>
    <br/>
    
    <p class="lead">
        Joyce's media footprint is pretty small.
        She manages to keep quite in the world around her that is nothing but noise.
    </p>
    
    <div class="btn-group">
        <a class="btn btn-primary" href="https://www.facebook.com/joyce.austin2"><span class="fa fa-facebook"></span>Joyce's Facebook profile</a>
        <a class="btn btn-primary" href="https://www.twitter.com/ecyoj53"><span class="fa fa-twitter"></span>Joyce's Twitter profile</a>
        <a class="btn btn-primary" href="https://www.linkedin.com/in/joyce-austin-55a6a744"><span class="fa fa-linkedin"></span>Joyce's LinkedIn profile</a>
    </div>
</div>

<div class="container text-center">
    <br />
    
    <h5>Martha Ehlert</h5>
    <br />
    
    <p class="lead">
        Martha is generally active on social media, mostly Facebook and some LinkedIn. She mostly posts inspirational quotes and such-like.
    </p>
    
    <div class="btn-group">
        <a class="btn btn-primary" href="https://www.facebook.com/mchildrey"><span class="fa fa-facebook"></span> Martha's Facebook profile</a>
        <a class="btn btn-primary" href="https://www.linkedin.com/in/martha-ehlert-68a97332"><span class="fa fa-linkedin"></span> Martha's LinkedIn profile</a>
    </div>
</div>