@model HomeViewModel
@{
    Model.Title = "Home - The Creative Realtors";
}

    <div id="introCarousel" class="carousel slide" data-ride="carousel" data-interval="8000">

        <ol class="carousel-indicators">
            <li data-target="#introCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#introCarousel" data-slide-to="1"></li>
            <li data-target="#introCarousel" data-slide-to="2"></li>
        </ol>

        @* ReSharper disable once CenterTagIsObsolete *@
        <center>
            <div class="carousel-inner" style="justify-content: center !important;">
                <div class="carousel-item active">
                    <img class="d-block img-fluid" style="height: auto; max-width: 100%;" src="/images/duo-snap.png" alt="The Duo" />
                    <div class="carousel-caption d-none d-md-block" style="background-color: #808080; background-color: rgba(128, 128, 128, 0.45)">
                        <h5>Joyce and Martha</h5>
                        <p class="lead">Working with Rockgate Real Estate, Joyce and Martha work together on leads to give the best possible service to each client.</p>
                        <a class="btn btn-primary" asp-controller="About" asp-action="Index">Learn about the team! &raquo;</a>
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="d-block img-fluid" style="height: auto; max-width: 100%;" src="/images/Privacy.png" alt="Privacy matters" />
                    <div class="carousel-caption d-none d-md-block" style="background-color: #808080; background-color: rgba(128, 128, 128, 0.45)">
                        <h5>@ViewBag.Privacy</h5>
                        <p class="lead">We only share data with our partners and affiliates. No one else.</p>
                        <a asp-controller="About" asp-action="Privacy" class="btn btn-primary">Learn more &raquo;</a>
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="d-block img-fluid" style="height: auto; max-width: 100%;" src="/images/Greeting.png" alt="Thank you" />
                    <div class="carousel-caption d-none d-md-block" style="background-color: #808080; background-color: rgba(128, 128, 128, 0.45)">
                        <h5>Thank you!</h5>
                        <p class="lead">Thank you for visiting our site!</p>
                    </div>
                </div>
            </div>
        </center>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <article title="Introductory Text" id="intro">
        <div class="container">
            <h3>Who are the Creative Realtors?</h3>
            <hr />
            <p>
                The Creative Realtors are a mother/daughter duo who are keen on making their name in the world of real estate.
                Their goals currently include getting their names into the public sphere as well as gaining reputation in
                professional real estate environments (See <a href="http://rockgaterealestate.com">Rockgate</a>).
            </p>
        </div>
    </article>

    <article title="Announcements" id="announcements" class="text-center">
        <div class="container">
            <h3>Recent Events and Happenings</h3>
            <hr />
            <div class="card">
                <div class="card-body">
                    <p class="lead" style="text-decoration: underline">Sales:</p>
                    <br />
                    <p>
                        <span>
                            <a asp-controller="Home" asp-action="Listings">Home Listings</a>
                        </span>
                    </p>
                    <br />
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <p class="lead" style="text-decoration: underline">Announcements:</p>
                    <br />
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="WorkInProgress">This site is a work-in-progress. Click to learn more.</a>
                        </li>

                        <li>
                            <a asp-controller="About" asp-action="Release">Site nearing completion!</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="container">
                <p class="lead">These announcements are updated <i>regularly.</i></p>
                <p>Come back now and then to see new announcements posted.</p>
            </div>
        </div>
    </article>

    <div class="container text-center">
        <h5>The Creative Realtors are a new real estate team</h5>
        <p class="lead">They aim to make a name for themselves and to work tirelessly for their clients.</p>
        <p>Their contact information can be found <a asp-controller="Contact" asp-action="Index">here.</a></p>
        <p>Their social media profiles can be found <a asp-controller="Contact" asp-action="Media">here.</a></p>
    </div>