@model HomeViewModel
@{
    Model.Title = "Creative Realtor's Listings";
}

<div class="jumbotron text-center">
    <h5>Listing Information</h5>
    <p class="lead">New listings are here for October!</p>
</div>

<div class="container">
    <div class="card">
        <div class="card-header">
            <picture>
                <img class="img-fluid" src="/images/Peck-Lake.png" alt="Ionia listing" width="640" height="400"/>
            </picture>
            <address>
                1882 E. Peck Lake Rd.<br/>
                Ionia, 48846
            </address>
        </div>

        <div class="card-body">
            <p class="lead">
                Nicely decorated 3 bedroom 2 full bath ranch style home in a quiet country setting on 5 acres surrounded by rich farm land.
                A front deck wraps around to the side door (with ramp and steps) next to the detached garage. The large picture window in the living room brightens
                the living room as does the slider door off the dining area. Most of the main floor windows including slider were replaced in 2006. The finished
                basement also has unfinished storage and utility room areas that include a washer and dryer. All kitchen appliances and ceiling fans are also included.<br/>
                <br/>
                Agent Only Remarks: Supra entry on side interior door. Garage is detached but has a covered walk way with ramp and stairs unto wood front deck.
            </p>
        </div>

        <div class="card-footer">
            <p>@SStatus.Sold</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-header">
            <picture>
                <img class="img-fluid" src="/images/Arbogost3.jpg" alt="Arbogost property"/>
            </picture>
            <address>
                N Arbogast RD/Vacant<br/>
                Morley, MI 49336
            </address>
        </div>

        <div class="card-body">
            <p class="lead">
                20 acres of partially wooded land in the Morley/Howard City area.
                Enjoy seeing lots of deer and other wildlife while walking through several trails that run throughout.
                This large parcel would be great for hunting and/or to perk for a building/home site.
                There are residences with full utilities on either end of this parcel however Arbogast Rd.
                can be accessed only from Eisenhower Rd.
            </p>
        </div>

        <div class="card-footer">
            <p>@SStatus.Sold</p>
        </div>
    </div>
</div>

<div class="container-fluid text-center">
    <h5>Listings are updated regularly!</h5>
    <p class="lead">Come back to see new and updated listings!</p>
</div>