﻿@using Creative.Models
@model HomeViewModel
@{ 
    Model.Title = "WIP"; 
    // Page to display recent changes to the site 
}

<div class="jumbotron text-center">
    <h3>This site is a work-in-progress!</h3>
    <p>All current features and content may not be final.</p>
</div>

<article title="Changelog">
    <div class="container card">
        <div class="card-header">
            <h3>December 2018</h3>
            <hr />

            <p class="lead">Change(s):</p>
        </div>

        <div class="card-body">
            <p class="lead">The following pages were updated:</p>
            <ul>
                <li>Social Media</li>
                <li>Home/Landing</li>
                <li>Listings</li>
                <li>WIP (This page)</li>
                <li>Master/Layout (Behind the scenes page, unimportant to UX)</li>
                <li>Added: View Models! (Data templates for viewable pages)</li>
            </ul>
        </div>

        <div class="card-footer">
            <p class="lead">This changelist is updated <i>monthly.</i></p>
            <p>Any changes before the page update will be listed on the upcoming log update.</p>
            <p>Today is: @DateTime.Now</p>
            <p>The next log update will occur on November 15th, 2018</p>
        </div>
    </div>
</article>