@model AboutViewModel
@{
    Model.Title = "About the Creative Realtors";
}

<div class="container" id="description">
    
    <h3>Respect and Integrity</h3>
    <p class="lead" id="intro">
        Just as well as kindness and sincerity can make or break a deal, so can respect and integrity.
        The Creative Realtors adapt their services to each individual client so that
        they can better provide services for your buying or selling requirements.
    </p>
    
    <hr />
    
    <p class="lead" id="delivery">
        The Creative Realtors will always work to the benefit of the client.
        If special accommodations are needed, then they are given promptly.
        The client asks, the Creative Realtors always deliver.<br />
        <br />
        The Creative Realtors will always deliver services as agreed upon,
        nothing less.
    </p>
    
    <hr />

    <h3>Meet the team!</h3>
    <hr />

    <div class="container" id="marthaEhlert">
        <img src="/images/Martha-snap.jpg" alt="Martha Ehlert" height="640" width="420" />

        <h3>Martha Ehlert</h3>
        <hr />
        <p>
            Martha is an understanding person who enjoys being around people. She's also very hard working,
            and she will make sure that any sale or purchase goes through in the best way possible.
        </p>

        <p class="lead">
            Experience:<br />
            <span style="font-weight: bold">12 Years</span>
        </p>
    </div>

    <div class="container" id="joyceAustin">
        <img src="/images/Joyce_crop.jpg" alt="Joyce Austin" height="640" width="420" />

        <h3>Joyce Austin</h3>
        <hr />
        <p>
            Joyce is a pleasant person to be around. She's very kind and respectful as well as being a hard working individual.
        </p>

        <p class="lead">
            Experience<br />
            <span style="font-weight: bold">20 Years</span>
        </p>
    </div>
</div>