﻿@model AboutViewModel
@{ 
    Model.Title = "Our Privacy Policy";
}

<header>
    <center>
        @*Header with greeting*@
        <div class="jumbotron text-center">
            <h3>Our Privacy Policy</h3>
            <p class="lead">Your privacy matters to us.</p>
        </div>

        <img src="" alt="Privacy matters" height="500" />
    </center>
</header>