﻿@model AboutViewModel
@{
    Model.Title = "Creative Realtors' Full Release";
}

<div class="jumbotron text-center">

    <h1>@Model.Title</h1>
    <p class="lead">The website is going to be fully released soon!</p>
    <p>Check below to see the release timeline.</p>
</div>

<div class="card justify-content-center">

    <div class="card-header">
        <h3>Expected Release date:</h3>
    </div>
    <div class="card-body">

        <h3>Timeline:</h3>
        <div class="row text-center">
            <div class="col-md-3">
                <p class="lead">Development begins on CR website</p><br />
                <p>June 2018</p><br />
                <p>Early stages of development, begin prototyping for functional application</p><br />
            </div>

            <div class="col-md-3">
                <p class="lead">First Public Prototype</p><br />
                <p>August 2018</p><br />
                <p>Nearing end stage development cycle</p><br />
            </div>

            <div class="col-md-3">
                <p class="lead">Finishing public test builds</p><br />
                <p>October 2018</p><br />
                <p>Preparing for website Long Term Support</p><br />
            </div>

            <div class="col-md-3">
                <p class="lead">Preparing for full release</p><br />
                <p>December 2018</p><br />
                <p>Putting finishing touches on the website before it is fully released and in the LTS cycle</p><br />
            </div>
        </div>

        <!-- @* @{
                var time1 = (DateTime)ViewData["Time"] - DateTime.Now;

                if (time1.TotalSeconds <= 0)
                {
                    Label1.Text = Label2.Text = "Time Out!";
                }
                else
                {
                    if (time1.TotalMinutes > 59)
                    {
                        Label1.Text = Label2.Text = string.Format("{0}:{1:D2}:{2:D2}",
                        time1.Hours,
                        time1.Minutes,
                        time1.Seconds);
                    }
                    else
                    {
                        Label1.Text = Label2.Text = string.Format("{0:D2}:{1:D2}",
                        time1.Minutes,
                        time1.Seconds);
                    }
                }
            } *@ -->
    </div>

    <div class="card-footer">
        <p class="lead">The site will be fully functional by the end of December.</p>
        <p>The time currently is @DateTime.UtcNow (UTC)</p>
    </div>
</div>