﻿@font-size: 16px;
@font: "Helvetica", Arial, sans-serif;

body {
    font: @font-size @font;
    padding-top: 8px;
    padding-bottom: 8px;
}

.body-content {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo img {
    max-width: 225px;
    max-height: 75px;
}

.bg001 {
	background-color: rgb(0,0,0);
}

.bg002 {
	background-color: rgb(255,255,255);
}

.bg003 {
	background-color: rgb(128,128,128);
}

.bg004 {
	background-color: rgba(42,42,128,0.45);
}

.bcontainer {
	width: 500px;
	height: auto;
	background-color: rgba(42,42,168,0.35);
	margin-left: 3.34%;
	margin-right: 3.34%;
	display: flex;
}